<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartMoveIIUI">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartMoveIIUI.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Onboarding"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RoleSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Onboarding"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Auth"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartMoveIIUI" />
        <activity
            android:name=".TrackingActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Auth" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Auth" />
        <activity
            android:name=".SubmitQueryActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Auth" />
        <activity
            android:name=".AnnouncementsActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Auth" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Auth" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartMoveIIUI.Auth" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5LQlPeXHPnSFaT76sGvtvGrHVmAeT2hs" />
    </application>

</manifest>